body * {
    font-family: 'Source Sans 3', sans-serif;
}

section {
    padding-top: 120px;
    padding-bottom: 30px;
}

h1 {
    color: var(--text-primary-color);
    font-size: 96px;
    line-height: 100%;

    @media (max-width: 1200px) {
        font-size: 80px;
    }

    @media (max-width: 992px) {
        font-size: 66px;
    }

    @media (max-width: 768px) {
        font-size: 52px;
    }

    @media (max-width: 576px) {
        font-size: 38px;
    }
}


em {
    font-style: normal;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.separator {
    width: 1px;
    background-color: var(--paragraph-color);
    opacity: 40%;
}