/*
* Brakepoints
* 1590
* 1200
* 992
* 768
* 576
*/

:root {
    --container-width: 1590px;

    --background-color: #131517;
    --background-light-color: #1E1F25;
    --paragraph-color: #ADB3BF;
    --primary-color: #1B70F1;
    --primary-light-color: #428dfc;
    --primary-dark-color: #297efd;

    --accent-primary-color: #9AC321;
    --accent-primary-color-rgb: 154, 195, 33;

    --text-success-main-color: #06B470;
    --text-error-main-color: #F74E2C;
    --text-primary-color: #FFFFFF;
    --transition-button-hover: .2s;
}